* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px 100px;
}
.logo {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
nav ul li a {
  font-weight: 500;
  font-size: 18px;

  text-decoration: none;
  color: #424242;
}
header {
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 70px;
}
.bannar-details {
  text-align: center;
  justify-content: center;
  align-items: center;

  /* width:750px; */
}
.banar-title {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 30px;
}
.bannar-description {
  color: #727272;
  margin-bottom: 30px;
}
.praimary-btn {
  padding: 21px 24px 20px 25px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}
.bannar-img img {
  width: 1140px;
  height: 723px;
  margin-left: 115px;
  border-radius: 8px;
  margin-bottom: 100px;
}
/* bannar style ends here */

/* features section style is start */
.Features {
  display: grid;
  grid-template-columns: 800px 200px;
  margin-bottom: 130px;
}
.features-images {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  justify-content: center;
  gap: 20px;
}
.features-images img {
  width: 250px;
}
.features-details {
  text-align: left;
  width: 500px;
  height: 312px;
  margin-left: -50px;
  margin-top: 100px;
}
.features-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 25px;
}
.gray-color {
  color: #727272;
}
.black-color {
  color: #131313;
}
.orange-color {
  color: #ff900e;
}

.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 25px;
}

.praimary-btn2 {
  padding: 21px 24px 20px 25px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}
/* features section style is ends */
/* service section style start */

.services {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 130px;
}
.service-heading {
  width: 480px;
  margin-bottom: 30px;
}
.verticle-line {
  width: 4px;
  height: 100px;
  background-color: #ff900e;
  position: absolute;
}
.service-heading-title {
  position: relative;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 20px;
  margin-left: 20px;
}
.service-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.service-item {
  margin-bottom: 20px;
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.service-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #131313;
}
.service-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #727272;
}

.service-image img {
  width: 600px;
  height: 750px;
}

.praimary-btn3 {
  padding: 15px 10px 15px 10px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 10px;
  border-style: none;
  font-size: 25px;
  line-height: 50px;
}
.btn {
  position: absolute;
  top: 2800px;
  right: 550px;
}
.praimary-btn3 span {
  font-size: 55px;
  font-weight: 700;
}
/* service section style ends */

/* summury section style start */
.summury {
  margin-bottom: 130px;
}
.summury-details {
  width: 450px;
  margin-left: 90px;
  margin-bottom: 50px;
}
.summury-title {
  font-size: 45px;
  color: #131313;
  font-weight: 700;
  line-height: 80px;
}
.summury-description {
  line-height: 25px;
  color: #727272;
}
.summury-items {
  display: flex;
  gap: 70px;
  justify-content: center;
}
.summury-item {
  width: 200px;
  height: 180px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.summury-items :hover {
  background-color: gold;
  transform: scale(1.2) rotate(360deg);
  transition: 2s all 0.5s;
  cursor: pointer;
}
.summury-item img {
  margin-top: 15px;
  margin-bottom: 10px;
}
.summury-item span {
  color: red;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;

  margin-bottom: -100px;
}
.summury-item h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
  margin-top: 10px;
}

/* summury section style ends */

/* our sponsors style start */
.Sponsors {
  margin-bottom: 130px;
}
.sponsors-details {
  text-align: center;
  justify-content: center;
}
.sponsors-title {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  line-height: 25px;
  margin-bottom: 20px;
}
.sponsors-description {
  color: #727272;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;
  margin-bottom: 40px;
}
.sponsors-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors-image1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1-div {
  width: 150px;
  margin: 30px 40px 0px 40px;
  align-items: center;
  color: #000000;
}
.sponsors-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image2-div {
  align-items: center;
  width: 150px;
  margin: 30px 40px 0px 40px;
}
/* our sponsors style ends */
/* contact style */
.contact {
  display: flex;
  background-color: #000000;
  margin-bottom: 130px;
}
.future {
  width: 500px;
  justify-content: center;
  text-align: left;
  margin-left: 153px;
  margin-top: 100px;
}
.future-title {
  color: #650808;
  margin-bottom: 20px;
}
.futtur-decription {
  color: #861515;
  margin-bottom: 20px;
  line-height: 28px;
}

.future-email {
  color: #c70909;
  margin-bottom: 20px;
}
.future-number {
  color: #742020;
  margin-bottom: 10px;
}

.future-contant > img {
  padding: 26px;
  text-align: right;
  justify-content: right;
  margin-left: -31px;
}
.Submit > h2 {
  color: #d00b88;
  font-size: 35px;
  margin-top: -50px;
  margin-bottom: 20px;
}
.Submit {
  width: 300px;
  height: 101px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
}
.sub-button :hover {
  color: gainsboro;
  background-color: green;
}
.Submit > input {
  padding: 15px 50px 15px 15px;
  border-radius: 10px;
  border: 2px solid rgb(165, 21, 21);
  background-color: #151414;
  margin-bottom: 10px;
}
.Submit button {
  padding: 15px 25px;
  border-radius: 8px;
  color: #f15b22;
  font-weight: bold;
  font-size: 18px;
}
::-webkit-input-placeholder {
  color: #fff4f4;
}
/* contact style ends */
/* footer style start */
footer {
  background: #fff4e7;
  border-radius: 8px;
  width: 1349px;
  height: 100px;
}
footer p {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
  padding: 30px;
}
/* footer style ends */
.hide {
  display: none;
}

/* responsive small device style is start */
@media screen and (max-width: 576px) {
  nav {
    display: flex;
  }
  .logo {
    justify-content: flex-start;
    margin-left: -100px;
  }
  nav ul {
    flex-direction: column;
    justify-content: flex-end;
    margin-right: -100px;
  }
  .bannar-img img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .Features {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-images {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .features-details {
    margin: auto;
    width: 80%;
  }
  .services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .service-catagorys {
    width: 100%;
    margin: auto;
  }
  .service-heading {
    width: 100%;
    margin: auto;
  }
  .service-item {
    width: 100%;
    margin: auto;
  }
  .service-image img {
    width: 90%;
    height: 80%;
  }
  .summury-details {
    margin: auto;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .summury-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .summury-item {
    width: 100%;
  }
  .Sponsors {
    width: 90%;
  }
  .sponsors-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sponsors-image1 {
    justify-content: space-around;
    width: 120px;
    margin: auto;
  }
  .sponsors-image2 {
    justify-content: space-around;
    width: 120px;
    margin: auto;
  }
  .sponsors-image1 img {
    width: 50px;
  }
  .sponsors-image2 img {
    width: 50px;
  }
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .future {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
  .Submit {
    text-align: center;
  }
  footer {
    width: 100%;
    margin-bottom: 0px;
  }
}
/* responsive small device style is ends */
